<nav  class="navbar navbar-expand navbar-dark bg-dark" *ngIf="signedUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" >All Movies</a>
        <a class="nav-item nav-link" >Favorites</a>
        <a class="nav-item nav-link" style="cursor: pointer;" (click)="goHome()">Home</a>
        <a class="nav-item" (click)="showOptions()"><img style="cursor: pointer;width: 45px; height: 45px;" src="/assets/yes.jpg" class="rounded-circle"></a>
        <ul *ngIf="toggleOptions">
            <li class="nav-item nav-link" style="cursor: pointer;"><a (click)="logout()">Logout</a></li>
            <li class="nav-item nav-link" style="cursor: pointer;"><a (click)="userOptions()">Options</a></li>
        </ul>    
    </div>
</nav> 


<router-outlet></router-outlet>