<div class='background' style='text-align: center;'>
<br><br>
<h2>Movie list</h2>
<br>

<form [formGroup]="addMovieForm">
    <label>Add movie &nbsp;</label>
    <input type="text" #addMovieTitle formControlName="addMovieTitle" placeholder="Enter movie title" required>
    <input type="text" #addMovieDescription formControlName="addMovieDescription" placeholder="Enter movie description" required>
    <input type="text" #addMovieDate formControlName="addMovieDate" placeholder="Enter movie's release" required>
    <button 
    [disabled]="!addMovieForm.valid"
    (click)="addEntry(addMovieTitle.value,addMovieDescription.value,addMovieDate.value)">Add</button>
    <br>
</form>

<label>Movie search &nbsp;</label>
<input type="text" #searchTitle placeholder="Search movie">
<button (click)="searchMovie(searchTitle.value)">Search</button>
<br>

<ul *ngIf="this.movieList">
    <li style="list-style-type:none" *ngFor="let movie of this.movieList.value | filter:searchMovie(searchTitle.value)">
        <div *ngIf="movie.title.includes(searchMovie(searchTitle.value))">
        <a (click)="movieDetails(movie)">{{movie.title}} &nbsp; {{movie.dateReleased}}</a> 
        <button class="btn" style="color: #0cf03d;" (click)="addFavorite(movie.title, movie.id)">Add to favorites</button>
        <button class="btn" style="color: yellow;" (click)="deleteMovie(movie.id)">[-]</button>
        </div>
    </li>
</ul>
</div>