<div class='background' style='text-align: center;'>
<br><br>
<h2>Reset user data</h2>

<form [formGroup]="resetForm">
    <input type='text' formControlName='resetFirstName' placeholder="First name">
    <br>

    <input type='text' formControlName='resetLastName' placeholder='Last name'>
    <br>

    <input type='text' formControlName='resetUsername' placeholder='Username'>
    <br>

    <input type='password' formControlName='resetPassword' placeholder='Password'>
    <br>

    <input type='password' formControlName='resetConfirmPassword' placeholder='Confirm password'>
    <br>

    <button class='btn' style='color: white;' type="submit" [disabled]="!passwordMatch()" (click)='userEdit()'>Update info</button>
    <button class='btn' style='color: white;' (click)="goHome()">Back</button>

    <p *ngIf="!passwordMatch()">Password fields don't match.</p>

    <p *ngIf="userUpdated">User was successfully updated.</p>
</form>
