<div class='background' style='text-align: center;'>
<br><br>
<h2>Reset user data</h2>

<form [formGroup]="resetForm">
    <label>First name</label>
    <input type='text' formControlName='resetFirstName' >
    <br>

    <label>Last name</label>
    <input type='text' formControlName='resetLastName' >
    <br>

    <label>Username</label>
    <input type='text' formControlName='resetUsername' >
    <br>

    <label>Password</label>
    <input type='password' formControlName='resetPassword' >
    <br>

    <label>Confirm password</label>
    <input type='password' formControlName='resetConfirmPassword' >
    <br>

    <button type="submit" [disabled]="!passwordMatch()" (click)='userEdit()'>Update info</button>
    <button (click)="goHome()">Back</button>

    <p *ngIf="!passwordMatch()">Password fields don't match.</p>

    <p *ngIf="userUpdated">User was successfully updated.</p>
</form>
