<div class='background' style="text-align: center;">
<h2 style="color: rgb(44, 230, 44);">Sign up</h2>

<form [formGroup]="registerForm">
    <input type='text' formControlName='firstName' placeholder='First name' >
    <br>

    <input type='text' formControlName='lastName' placeholder='Last name' >
    <br>

    <input type='text' formControlName='username' placeholder='Username'>
    <br>

    <input type='password' formControlName='password' placeholder='Password'>
    <br>

    <input type='password' formControlName='password' placeholder='Confirm password'>
    <br>

    <button type="submit" [disabled]="!registerForm.valid" (click)="registerUser()" >Register</button>
    <button (click)="userLogin()">Back</button>
</form>
</div>